body { width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}

header
{
    width: 100%;
    height: 15%;
    background: #313131;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4d4d), to(#313131));
    background-image: -moz-linear-gradient(#4d4d4d, #313131);
    background-image: -o-linear-gradient(#4d4d4d, #313131);
    background-image: linear-gradient(#4d4d4d, #313131);
}

h1{
    font-size: 90px;
    color: blue;
    text-align: center;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    height: 48px;
  }
  .container{
    margin: auto;
    width: 400px;
    height: 200px
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px
  }

